html *
{
 
   color: #ff7951 !important;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

main {
    font-size: 100%;
  }

#logoImage{
    
        max-width: 300px;
        max-height: 300px;
        
}

#clearButton, #submitButton {
    background-color: #002458;
    font-size: 25px}

#modalButton {
    background-color: #002458;
}